*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    width: 100%;
    max-height: 100vh;
    background-color: rgb(223,223,223);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 35rem;
}

.instagram-continue{
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 2px solid lightgray;
    border-radius: 10px; 
    margin-bottom: 5px;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(200,200,200);
}

.profile-photo, .instagram-login, .instagram-logout{
    margin-top: 1rem;
}

.profile-photo img{
    height: 9rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-login:hover{
    background-color: #027bcc;
}

.instagram-logout{
    color: #0095f6;
}

.not-account{
    color: rgb(120,120,120);
}

.notaccount span{
    line-height: 1.5rem;
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app{
    font-weight: bold;
}

.download{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:hover{
    opacity: 70%;
}

.app-download:nth-child(1){
    background-image: url('../image/button-apple-store.png');
}

.app-download:nth-child(2){
    background-image: url('../image/button-google-play.png');
}

/*media queries*/

@media (max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width:650px){
    body{
        background-color: #ffffff;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: none;
    }
}